[submodule "vendors/raylib"]
	path = vendors/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "vendors/raygui"]
	path = vendors/raygui
	url = https://github.com/raysan5/raygui.git
[submodule "vendors/json"]
	path = vendors/json
	url = https://github.com/nlohmann/json.git
